<section id="about">
    <div class="container about-out mx-auto px-auto py-4 h-50">
        <div class="about pl-4">
            <div class="about-header my-4 pl-4">
                <h2 class="display-4 pl-4">About<span class="ml-1 dot" style="color:orange">.</span></h2>
            </div>
            <div class="about-body my-4 pl-4">
                <div class="about-info pl-4">
                    <p class="w-75 text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Necessitatibus, accusantium facilis dolorum vero consequatur repudiandae error dolores
                        provident ipsam omnis! Illo perspiciatis consequatur, aut error quo accusantium odio! Dolorem
                        quaerat maxime officia ipsam. Expedita quae quaerat ipsa, dolorem quidem ducimus aliquam unde
                        nostrum, commodi dolor maxime. Error, id! Facere, eius.</p>
                </div>
            </div>
        </div>
    </div>
</section>