<section id="about">
    <div class="container about-out mx-auto px-auto py-4 h-50">
        <div class="about pl-4">
            <div class="about-header my-4 pl-4">
                <h2 class="display-4 pl-4">About<span class="ml-1 dot" style="color:orange">.</span></h2>
            </div>
            <div class="about-body my-4 pl-4">
                <div class="about-info pl-4">
                    <p class="w-75 text-justify">Jsonstore is a REST API built to be consumed with all types of projects in mind. The API is designed for multiple
                    configurations like social media, e-commerce, blogs, etc. These provide a great deal of flexibility that can handle
                    multiple types of calls and return a variety of data formats.Based on an HTTP protocol means that most common tools with be compatible with the API and can be used to build
                    projects on (React, Vue, Angular, Node, Rails, Android.. )</p>
                </div>
            </div>
        </div>
    </div>
</section>