<section id="resources">
    <div class="container resource-out mx-auto px-auto py-4 h-50">
        <div class="resources pl-4">
            <div class="resources-header pl-4">
 <h2 class="display-4 pl-4">Resource<span class="ml-1 dot" style="color:orange">.</span></h2>
            </div>
            <div class="resources-body my-4 pl-4">
                <p class="pl-4">This is list of main resources available in the api</p>
                <div class="resources-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td><a href="">/comments</a></td>
                                <td class="px-4">150</td>
                            </tr>
                            <tr>
                                <td><a href="">/products</a></td>
                                <td class="px-4">50</td>
                            </tr>
                            <tr>
                                <td><a href="">/category</a></td>
                                <td class="px-4">13</td>
                            </tr>
                            <tr>
                                <td><a href="">/company</a></td>
                                <td class="px-4">15</td>
                            </tr>
                            <tr>
                                <td><a href="">/users</a></td>
                                <td class="px-4">15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>