<section id="route">
<div  class="container routes-out px-auto py-4">
    <div class="routes pl-4">
        <div class="routes-header pl-4">
            <h2 class="display-4 pl-4">Routing<span class="ml-1 dot"
                      style="color:orange">.</span></h2>
        </div>
        <div class="crud pl-4 row flex-row">
        <div class="routes-comments">
            <div class="routes-body my-4 pl-4">
                <p class="pl-4">Http protocol accessing comments.</p>
                <div class="route-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/comments">/comments</a></td>
                            </tr>
                            <tr>
                                <td>POST</td>
                                <td class="px-4"><a href="/api/comments">/comments</a></td>
                            </tr>
                            <tr>
                                <td>PUT</td>
                                <td class="px-4"><a href="/api/comments/1">/comments/1</a></td>
                            </tr>
                            <tr>
                                <td>DELETE</td>
                                <td class="px-4"><a href="">/comments</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="routing-products">
            <div class="routes-body my-4 pl-4">
                <p class="pl-4">Http protocol accessing products.</p>
                <div class="route-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/products">/products</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/products/1">/products/1</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/products/1/comments">/products/1/comments</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="routing-category">
            <div class="routes-body my-4 pl-4">
                <p class="pl-4">Http protocol accessing category.</p>
                <div class="route-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/category">/category</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/category/1">/category/1</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/category/1/products">/category/1/products</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="routing-company">
            <div class="routes-body my-4 pl-4">
                <p class="pl-4">Http protocol accessing company</p>
                <div class="route-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/company">/company</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/company/1">/company/1</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/company/1/products">/company/1/products</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="routing-users">
            <div class="routes-body my-4 pl-4">
                <p class="pl-4">All HTTP methods are supported.</p>
                <div class="route-info pl-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/users">/users</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/users/1">/users/1</a></td>
                            </tr>
                            <tr>
                                <td>GET</td>
                                <td class="px-4"><a href="/api/users/1/comments">/users/1/comments</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

</section>