<section >
<div id="index" class="container-fluid landing mx-0 mb-2 px-0 pb-2 overflow-visible">
<div class="landing-image d-flex row col">
    <div class="caption mx-auto my-auto">
        <div class="caption-header">
            <h1 id="h1"><span style="background-color: rgb(17, 17, 17)">COLLECTION</span></h1>
            <h3 id="h3"><span style="background-color: rgb(5, 5, 5)">API FOR FRONT END DEVS</span></h3>
        </div>
        {{!-- <div class="caption-info">
        <p class="caption-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati<br/> minima et quibusdam dignissimos at possimus!</p>

        </div> --}}
        <div class="caption-button">
            <button type="button"
                    class="btn btn-primary">Discover More</button>
        </div>
    </div>
</div>
</div>
</section>
<section>
    <div class="container services-out mx-auto my-4 py-4">
        <div class="services my-4">
            <div class="services-header text-center mr-4 pr-4 py-4 my-4">
                <h1 class="display-4">OUR SERVICES</h1>
            </div>

            <div class="card-service d-flex flex-wrap">
                <div class="card text-center border-0 mx-auto px-auto"
                     style="width: 18rem;">
                    <div class="mx-auto platform circle">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Multi Platform</h2>
                        <p class="card-text">Suitable for any type of platform for development. Design with flexibility and adaptability.</p>
                    </div>
                </div>

                <div class="card text-center border-0 mx-auto px-auto"
                     style="width: 18rem;">
                    <div class="mx-auto innovation circle">

                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Innovative</h2>
                        <p class="card-text">Create and innovative with unlimited possibilities. Easy to use and learn.</p>
                    </div>
                </div>

                <div class="card text-center border-0 mx-auto px-auto"
                     style="width: 18rem;">
                    <div class="mx-auto resource circle">

                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Easy Access</h2>
                        <p class="card-text">Support all programming languages with an Http request protocol.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section>
{{> about}}
</section>
<section>
    {{> resources}}
</section>
<section>
    {{> routes}}
</section>