#index{
	margin-top: 3%;
}

.caption-header{
	color: white;
}

.landing-image {
	background-image: url(../img/work.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	height: 550px;
	border-radius: 0px;
	padding: 0px;
	margin: 0px;
	border: 0 none;
	/* display: block; */
	/* position: absolute; */
}

.card-group [class*='col-1'] {
	float: none;
}

.circle {
	width: 200px;
	height: 200px;
	background-color: antiquewhite;
	border: 0.5px solid black;
	border-radius: 50%;
}

.platform {
	background-image: url(../icon/platform.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 110px 110px;
}

.platform:hover {
	background-image: url(../icon/Inplatform.svg);
}

.innovation {
	background-image: url(../icon/Innovate.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 110px 110px;
}

.innovation:hover {
	background-image: url(../icon/InInovate.svg);
}

.resource {
	background-image: url(../icon/resources.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 110px 110px;
	height: 200px;
	width: 200px;
}

.resource:hover {
	background-image: url(../icon/Inresource.svg);
}

/* patials styling */

#about {
	background-color: #c5dbe72d;
}

/* Media query */

footer p {
	display: inline;
}

#route{
	margin-bottom: 5%;
	background-color: #c5dbe72d;

}

@media only screen and (max-width: 600px) {
	.landing-image {
		background-image: url(../img/worksm.jpg);
	}
}